vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|04 Jan 2008 10:40:02 -0000
vti_extenderversion:SR|5.0.2.2623
vti_author:SR|SERVERGATEWAY\\Administrator
vti_modifiedby:SR|SERVERGATEWAY\\Administrator
vti_timecreated:TR|04 Jan 2008 10:40:02 -0000
vti_cacheddtm:TX|04 Jan 2008 10:40:02 -0000
vti_filesize:IR|25050
vti_cachedlinkinfo:VX|S|../btn/big.gif S|../btn/medium.gif S|../btn/small.gif S|../Images/close_button.gif S|../Images/reassign.gif S|../btn/smallest.gif S|Images/login_button.jpg S|../Images/close_taskGray.gif S|../Images/close_taskRed.gif S|../Images/Forwarded.gif S|../Images/Forward.gif S|../Images/opened_tab.gif S|../Images/opened_tab.gif S|../Images/tab_e.gif S|../images/drop_left.gif S|../images/drop.gif
vti_cachedsvcrellinks:VX|FSUS|pshr/btn/big.gif FSUS|pshr/btn/medium.gif FSUS|pshr/btn/small.gif NSUS|pshr/Images/close_button.gif NSUS|pshr/Images/reassign.gif FSUS|pshr/btn/smallest.gif NSUS|pshr/css/Images/login_button.jpg NSUS|pshr/Images/close_taskGray.gif NSUS|pshr/Images/close_taskRed.gif NSUS|pshr/Images/Forwarded.gif NSUS|pshr/Images/Forward.gif NSUS|pshr/Images/opened_tab.gif NSUS|pshr/Images/opened_tab.gif NSUS|pshr/Images/tab_e.gif NSUS|pshr/images/drop_left.gif NSUS|pshr/images/drop.gif
vti_lineageid:SR|{FB7151CD-5E47-469C-BE87-D37381BE8261}
vti_backlinkinfo:VX|
